n8n_convert_workflow.json
{
  "name": "convert-to-pdf",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "convert-to-pdf",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1400,
        -200
      ],
      "id": "webhook-convert-to-pdf",
      "name": "Webhook Trigger"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.body.pptFileId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1180,
        -200
      ],
      "id": "download-original-pptx",
      "name": "Download Original PPTX",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "z9BTKWDUKGFkyilR",
          "name": "Tikona Capital Drive"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseBody": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -960,
        -200
      ],
      "id": "respond-to-webhook",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Download Original PPTX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Original PPTX": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
